In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px
import pandas as pd

In [2]:
df_round1 = pd.read_csv("archive\Round_1.csv")

In [3]:
df_round1.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9462,12911
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16218,19272
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,1977
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3056,3056
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4014,4642

In [4]:
df_round1= df_round1[~df_round1['Seat Type'].str.contains('PwD')]

In [5]:
df_round1 = df_round1.reset_index(drop=True)

In [6]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   object
 6   Closing Rank           9485 non-null   object
dtypes: object(7)
memory usage: 518.8+ KB

In [7]:
x = df_round1["Academic Program Name"].nunique()
print(f"There are total of {x} academic programs offered through Josaa.")

There are total of 211 academic programs offered through Josaa.

In [8]:
df_round1['Opening Rank'] = df_round1['Opening Rank'].str.replace(r'P', '', regex=True)

In [9]:
df_round1['Opening Rank'] = pd.to_numeric(df_round1['Opening Rank'])

In [10]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   int64
 6   Closing Rank           9485 non-null   object
dtypes: int64(1), object(6)
memory usage: 518.8+ KB

In [11]:
df_round1['Closing Rank'] = df_round1['Closing Rank'].str.replace(r'P', '', regex=True)

In [12]:
df_round1['Closing Rank'] = pd.to_numeric(df_round1['Closing Rank'])

In [13]:
df_round1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9485 entries, 0 to 9484
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              9485 non-null   object
 1   Academic Program Name  9485 non-null   object
 2   Quota                  9485 non-null   object
 3   Seat Type              9485 non-null   object
 4   Gender                 9485 non-null   object
 5   Opening Rank           9485 non-null   int64
 6   Closing Rank           9485 non-null   int64
dtypes: int64(2), object(5)
memory usage: 518.8+ KB

In [14]:
sorted_opening = df_round1.sort_values(by='Opening Rank')

In [15]:
sorted_opening

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
186,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,ST,Gender-Neutral,1,10
178,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,1,66
8949,"School of Planning & Architecture, New Delhi","Architecture (5 Years, Bachelor of Architecture)",AI,ST,Gender-Neutral,1,23
184,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,2,25
3821,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,SC,Gender-Neutral,5,145
...,...,...,...,...,...,...,...
6063,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Gender-Neutral,556736,742762
6033,"National Institute of Technology, Mizoram","Electrical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),560594,614925
6045,"National Institute of Technology, Mizoram",Electronics and Communication Engineering (4 Y...,HS,OPEN,Gender-Neutral,573968,684517
6046,"National Institute of Technology, Mizoram",Electronics and Communication Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),589620,755659
6064,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),659805,758764

In [16]:
nit_trichy = df_round1[df_round1["Institute"] == "National Institute of Technology, Tiruchirappalli"]

In [17]:
nit_trichy.nunique()

Institute                  1
Academic Program Name     10
Quota                      2
Seat Type                  5
Gender                     2
Opening Rank             192
Closing Rank             193
dtype: int64

In [18]:
sorted_NIT_TRICHY = nit_trichy.sort_values(by='Opening Rank')

In [20]:
sorted_NIT_TRICHY

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
6717,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,SC,Female-only (including Supernumerary),13,13
6726,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,ST,Gender-Neutral,21,21
6727,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,ST,Female-only (including Supernumerary),26,26
6725,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,SC,Female-only (including Supernumerary),29,29
6783,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",OS,SC,Gender-Neutral,39,268
...,...,...,...,...,...,...,...
6868,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,HS,EWS,Female-only (including Supernumerary),22517,22517
6876,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,OS,OPEN,Female-only (including Supernumerary),22701,24755
6748,"National Institute of Technology, Tiruchirappalli","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),25454,37742
6729,"National Institute of Technology, Tiruchirappalli","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Female-only (including Supernumerary),26164,29202
6885,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),26747,33458

In [21]:
open_NIT_trichy = sorted_NIT_TRICHY[sorted_NIT_TRICHY['Seat Type'] == "OPEN"]

In [22]:
open_NIT_trichy

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
6711,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),53,94
6777,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",OS,OPEN,Gender-Neutral,86,1147
6710,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,100,358
6719,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,OPEN,Gender-Neutral,118,256
6720,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",OS,OPEN,Female-only (including Supernumerary),190,190
6767,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",HS,OPEN,Gender-Neutral,936,4661
6778,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",OS,OPEN,Female-only (including Supernumerary),1701,2086
6816,"National Institute of Technology, Tiruchirappalli",Electronics and Communication Engineering (4 Y...,OS,OPEN,Gender-Neutral,1797,3609
6768,"National Institute of Technology, Tiruchirappalli","Computer Science and Engineering (4 Years, Bac...",HS,OPEN,Female-only (including Supernumerary),2903,6687
6797,"National Institute of Technology, Tiruchirappalli",Electrical and Electronics Engineering (4 Year...,OS,OPEN,Gender-Neutral,3618,5422
6845,"National Institute of Technology, Tiruchirappalli","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Gender-Neutral,3744,14644
6757,"National Institute of Technology, Tiruchirappalli","Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,4010,17159
6855,"National Institute of Technology, Tiruchirappalli","Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Gender-Neutral,4026,9241
6807,"National Institute of Technology, Tiruchirappalli",Electronics and Communication Engineering (4 Y...,HS,OPEN,Gender-Neutral,4341,6871
6835,"National Institute of Technology, Tiruchirappalli",Instrumentation and Control Engineering (4 Yea...,OS,OPEN,Gender-Neutral,4688,12463
6817,"National Institute of Technology, Tiruchirappalli",Electronics and Communication Engineering (4 Y...,OS,OPEN,Female-only (including Supernumerary),4789,6252
6787,"National Institute of Technology, Tiruchirappalli",Electrical and Electronics Engineering (4 Year...,HS,OPEN,Gender-Neutral,6915,9254
6739,"National Institute of Technology, Tiruchirappalli","Chemical Engineering (4 Years, Bachelor of Tec...",OS,OPEN,Female-only (including Supernumerary),7307,16042
6826,"National Institute of Technology, Tiruchirappalli",Instrumentation and Control Engineering (4 Yea...,HS,OPEN,Gender-Neutral,7605,14406
6808,"National Institute of Technology, Tiruchirappalli",Electronics and Communication Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),7666,9954
6798,"National Institute of Technology, Tiruchirappalli",Electrical and Electronics Engineering (4 Year...,OS,OPEN,Female-only (including Supernumerary),7962,10272
6738,"National Institute of Technology, Tiruchirappalli","Chemical Engineering (4 Years, Bachelor of Tec...",OS,OPEN,Gender-Neutral,8663,13360
6856,"National Institute of Technology, Tiruchirappalli","Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),10294,17044
6836,"National Institute of Technology, Tiruchirappalli",Instrumentation and Control Engineering (4 Yea...,OS,OPEN,Female-only (including Supernumerary),10652,16852
6788,"National Institute of Technology, Tiruchirappalli",Electrical and Electronics Engineering (4 Year...,HS,OPEN,Female-only (including Supernumerary),11085,12625
6728,"National Institute of Technology, Tiruchirappalli","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Gender-Neutral,12050,19125
6875,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,OS,OPEN,Gender-Neutral,13340,19830
6894,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OPEN,Gender-Neutral,13815,22066
6846,"National Institute of Technology, Tiruchirappalli","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),14699,21053
6827,"National Institute of Technology, Tiruchirappalli",Instrumentation and Control Engineering (4 Yea...,HS,OPEN,Female-only (including Supernumerary),15583,17885
6747,"National Institute of Technology, Tiruchirappalli","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,15611,29390
6865,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,HS,OPEN,Gender-Neutral,15808,25825
6884,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",HS,OPEN,Gender-Neutral,16710,23939
6895,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),21081,28511
6866,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,HS,OPEN,Female-only (including Supernumerary),21191,37943
6758,"National Institute of Technology, Tiruchirappalli","Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Female-only (including Supernumerary),21245,26190
6876,"National Institute of Technology, Tiruchirappalli",Metallurgical and Materials Engineering (4 Yea...,OS,OPEN,Female-only (including Supernumerary),22701,24755
6748,"National Institute of Technology, Tiruchirappalli","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),25454,37742
6729,"National Institute of Technology, Tiruchirappalli","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Female-only (including Supernumerary),26164,29202
6885,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),26747,33458